<!DOCTYPE html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body style="background-color: gray">
  <header><img src="nodelogo.svg" alt="logo" style="width: 100px; height: 100px"></header>
  {{{body}}}
</body>
</html>
